* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%vh;
  text-align: center;
  overflow: scroll;
  margin: 0;
  padding: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 90%;
  height: 90%;
}

h1,
p {
  color: #000;
  margin-bottom: 30px;
}

.btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(0, 0, 0);

  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.monophthong {
  background-color: #af8f6e;
}

.vowel {
  background-color: #cfbca8;
}

.diphong {
  background-color: #e7ddd4;
}

.consonant {
  background-color: #9d9d9c;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-1 {
  grid-column: span 1;
}

.grid-col-span-all {
  grid-column: span 7;
}

/* Grid row span */
.grid-row-span-3 {
  grid-row: span 3;
}

#monophthong-box {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(212, 89, 89);
}

#vowel-box {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: blue;
}

#diphong {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: gold;
}

#consonant-box {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(9, 1fr);
  background-color: mediumspringgreen;
  width: 100%;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.8);
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  box-shadow: 0 0 10px #fff;
}
