*{
    box-sizing: border-box;
}

body{
    background-color: #045db5;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

}

h1, p{
    color: #fff;
    margin-bottom: 0;
}

.btn{
    background-color: #f2bb16;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:rgb(0, 0, 0);
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;

}

.btn:focus{
    outline: none;
}

.btn:active{
    transform: scale(0.8);
    transform:translateY(4px);
    -webkit-transform:translateY(4px);
    -moz-transform:translateY(4px);
    -ms-transform:translateY(4px);
    -o-transform:translateY(4px);
    box-shadow:0 0 10px #fff;
}